body {
  background: #272822;
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: #6F4E37;
}

canvas {
  display: block;
  margin: auto;
  background: #f5f5f5;
}

#screen {
  display: none;
}

#start-screen,
#end-screen {
  display: none;
  text-align: center;
  margin-top: 50px;
}